<div class="container container-top-padding2">
  <% if current_user.location != Location.find(1) && current_user.role != "manager"%>
    <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
      <li class="nav-item tab-font" role="presentation">
        <button class="nav-link" id="out-tab" data-bs-toggle="tab" data-bs-target="#out-tab-pane" type="button" role="tab" aria-controls="out-tab-pane" aria-selected="false">Outgoing materials</button>
      </li>
      <li class="nav-item tab-font" role="presentation">
        <button class="nav-link active" id="in-tab" data-bs-toggle="tab" data-bs-target="#in-tab-pane" type="button" role="tab" aria-controls="in-tab-pane" aria-selected="true">Incoming materials</button>
      </li>
    </ul>

    <div class="tab-content container-top-padding2" id="myTabContent">
      <div class="tab-pane fade" id="out-tab-pane" role="tabpanel" aria-labelledby="out-tab" tabindex="0">
        <h1 class="line-bottom-margin3">Outgoing Materials</h1>
        <%# <hr> %>
        <% @delivery_orders.each do |delivery_order| %>
          <% if current_user.location == delivery_order.item_requests.last.request.location || current_user.role == "manager" %>
            <div class="card-container4">
            <%# <br> %>
            <h2 class="dest-spacing">Destination: <%= delivery_order.location.name %> (DO: <%= delivery_order.id %>)</h2>
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Qty</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% delivery_order.item_requests.each do |item_request| %>
                    <tr class="td-align-middle">
                      <td><%= image_tag item_request.item.image_path %></td>
                      <td><%= item_request.item.name %></td>
                      <td><%= item_request.item.category %></td>
                      <td><%= item_request.qty %></td>
                      <td style="<% if delivery_order.delivery_status == 'Received' %>
                      background-color: green;
                      color: white;
                      <% end %>">
                        <% if delivery_order.delivery_status == "Received" %>
                          Delivered
                        <% else %>
                          Delivering
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <button class="btn btn-primary btn-see-photos" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= delivery_order.id %>">See photos</button>
              <div class="modal fade" id="exampleModal-<%= delivery_order.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Delivery Photos</strong></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                      <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                        <% if delivery_order.photos.attached? %>
                          <% delivery_order.photos.each do |photo| %>
                            <%= cl_image_tag photo.key, width: 800, style: "margin-bottom: 20px;" %>
                            <br>
                          <% end %>
                       <% end %>
                      </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>
              <%# <hr> %>
             </div>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade show active line-top-margin3" id="in-tab-pane" role="tabpanel" aria-labelledby="in-tab" tabindex="0">
        <h1 class="line-bottom-margin3">Incoming Materials</h1>
        <%# <hr> %>
        <br>

        <% @delivery_orders.each do |delivery_order| %>
          <% if current_user.location == delivery_order.location %>

            <div class="card-container4">
              <h2 class="dest-spacing">Deliver from123: <%= delivery_order.item_requests.last.request.location.name %> (DO: <%= delivery_order.id %>)</h2>

              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Qty</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% delivery_order.item_requests.each do |item_request| %>
                    <tr class="td-align-middle">
                      <td><%= image_tag item_request.item.image_path %></td>
                      <td><%= item_request.item.name %></td>
                      <td><%= item_request.item.category %></td>
                      <td><%= item_request.qty %></td>
                      <td style="<% if delivery_order.delivery_status == 'Received' %>
                      background-color: green;
                      color: white;
                      <% end %>">
                      <%= item_request.delivery_order.delivery_status %>
                      </td>
                    </tr>
                  <% end %>

                  </tbody>
              </table>
              <button class="btn btn-primary btn-see-photos" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= delivery_order.id %>">See photos</button>
              <div class="modal fade" id="exampleModal-<%= delivery_order.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Delivery Photos</strong></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                      <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                        <% if delivery_order.photos.attached? %>
                          <% delivery_order.photos.each do |photo| %>
                            <%= cl_image_tag photo.key, width: 800, style: "margin-bottom: 20px;" %>
                            <br>
                          <% end %>
                       <% end %>
                      </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>
              <% if delivery_order.delivery_status != "Received" %>
                <%= link_to "Confirm received", delivery_order_receive_path(delivery_order), method: :post, data: { turbo_method: :post }, class: "btn btn-success btn-confirm-received" %>
              <% end %>
              <%# <hr> %>
            </div>
            <br><br><br>
          <% end %>
        <% end %>
      </div>
    </div>

  <% elsif current_user.location == Location.find(1)%>
      <ul class="nav nav-tabs nav-pills" id="myTab" role="tablist">
      <li class="nav-item tab-font" role="presentation">
        <button class="nav-link active" id="out-tab" data-bs-toggle="tab" data-bs-target="#out-tab-pane" type="button" role="tab" aria-controls="out-tab-pane" aria-selected="false">Outgoing materials</button>
      </li>
      <li class="nav-item tab-font" role="presentation">
        <button class="nav-link" id="in-tab" data-bs-toggle="tab" data-bs-target="#in-tab-pane" type="button" role="tab" aria-controls="in-tab-pane" aria-selected="true">Incoming materials</button>
      </li>
    </ul>

    <div class="tab-content container-top-padding2" id="myTabContent">
      <div class="tab-pane fade show active" id="out-tab-pane" role="tabpanel" aria-labelledby="out-tab" tabindex="0">
        <h1 class="line-bottom-margin3">Outgoing Materials</h1>
        <%# <hr> %>
        <% @delivery_orders.each do |delivery_order| %>
          <% if current_user.location == delivery_order.item_requests.last.request.location || current_user.role == "manager" %>
            <div class="card-container4">
            <%# <br> %>
            <h2 class="dest-spacing">Destination: <%= delivery_order.location.name %> (DO: <%= delivery_order.id %>)</h2>
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>Image</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Qty</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% delivery_order.item_requests.each do |item_request| %>
                    <tr class="td-align-middle">
                      <td><%= image_tag item_request.item.image_path %></td>
                      <td><%= item_request.item.name %></td>
                      <td><%= item_request.item.category %></td>
                      <td><%= item_request.qty %></td>
                      <td style="<% if delivery_order.delivery_status == 'Received' %>
                      background-color: green;
                      color: white;
                      <% end %>">
                        <% if delivery_order.delivery_status == "Received" %>
                          Delivered
                        <% else %>
                          Delivering
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <button class="btn-see-photos" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= delivery_order.id %>">See photos</button>
              <br>

              <div class="modal fade" id="exampleModal-<%= delivery_order.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Delivery Photos</strong></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                      <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                        <% if delivery_order.photos.attached? %>
                          <% delivery_order.photos.each do |photo| %>
                            <%= cl_image_tag photo.key, width: 800, style: "margin-bottom: 20px;" %>
                            <br>
                          <% end %>
                       <% end %>
                      </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>
              <%# <hr> %>
             </div>
             <br><br><br>
          <% end %>
        <% end %>
      </div>

      <div class="tab-pane fade line-top-margin3" id="in-tab-pane" role="tabpanel" aria-labelledby="in-tab" tabindex="0">
        <h1 class="line-bottom-margin3">Incoming Materials</h1>
        <%# <hr> %>
        <% @delivery_orders.each do |delivery_order| %>
          <% if current_user.location == delivery_order.location %>
            <div class="card-container4">
              <%# <br> %>
              <h2 class="dest-spacing">Deliver from: <%= delivery_order.item_requests.last.request.location.name %> (DO: <%= delivery_order.id %>)</h2>
              <% if delivery_order.photos.attached? %>
                  <% delivery_order.photos.each do |photo| %>
                    <%= cl_image_tag photo.key, height: 200, width: 200, crop: :fill %>
                  <% end %>
              <% end %>
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr class="td-align-middle">
                    <th>Image</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Qty</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% delivery_order.item_requests.each do |item_request| %>
                    <tr class="td-align-middle">
                      <td><%= image_tag item_request.item.image_path %></td>
                      <td><%= item_request.item.name %></td>
                      <td><%= item_request.item.category %></td>
                      <td><%= item_request.qty %></td>
                      <td style="<% if delivery_order.delivery_status == 'Received' %>
                      background-color: green;
                      color: white;
                      <% end %>">
                      <%= item_request.delivery_order.delivery_status %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
              </table>

              <% if delivery_order.delivery_status != "Received" %>
                <%= link_to "Confirm received", delivery_order_receive_path(delivery_order), method: :post, data: { turbo_method: :post }, class: "btn btn-success btn-green" %>
              <% end %>
              <%# <hr> %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% elsif current_user.role == "manager" %>
    <h1 class="line-bottom-margin3">Outgoing Materials</h1>
    <%# <hr> %>
    <% @delivery_orders.each do |delivery_order| %>
          <% if current_user.location == delivery_order.item_requests.last.request.location || current_user.role == "manager" %>
            <div class="card-container4">
            <%# <br> %>
            <h2 class="dest-spacing">Destination: <%= delivery_order.location.name %> (DO: <%= delivery_order.id %>)</h2>
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th>Deliver from</th>
                    <th>Image</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Qty</th>
                    <th>Status</th>

                  </tr>
                </thead>
                <tbody>
                  <% delivery_order.item_requests.each do |item_request| %>
                    <tr class="td-align-middle">
                      <td><%= item_request.request.location.name %></td>
                      <td><%= image_tag item_request.item.image_path %></td>
                      <td><%= item_request.item.name %></td>
                      <td><%= item_request.item.category %></td>
                      <td><%= item_request.qty %></td>
                      <td style="<% if delivery_order.delivery_status == 'Received' %>
                      background-color: green;
                      color: white;
                      <% end %>">
                        <% if delivery_order.delivery_status == "Received" %>
                          Delivered
                        <% else %>
                          Delivering
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <button class="btn btn-primary btn-see-photos" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= delivery_order.id %>">See photos</button>
              <div class="modal fade" id="exampleModal-<%= delivery_order.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel"><strong>Delivery Photos</strong></h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                      <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                        <% if delivery_order.photos.attached? %>
                          <% delivery_order.photos.each do |photo| %>
                            <%= cl_image_tag photo.key, width: 800, style: "margin-bottom: 20px;" %>
                            <br>
                          <% end %>
                       <% end %>
                      </div>
                    <div class="modal-footer">

                    </div>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          <% end %>
        <% end %>
  <% end %>
</div>
