<div class="container">
  <h1>Arrange Delivery</h1>
    <div>
    <% if current_user.location == @item_requests.first.request.location %>
      <% @item_requests.group_by { |item_request| Location.find(item_request.request.original_location_id).name }.each do |location_name, item_requests| %>
        <div>
          <%= simple_form_for @delivery_order, url: delivery_orders_path do |f|%>
            <h2><%= location_name %></h2>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Deliver To</th>
                  <th>Request ID</th>
                  <th>Item Request ID</th>
                  <th>Type and ID</th>
                  <th>Name</th>
                  <th>Unit Price</th>
                  <th>Qty</th>
                  <th>Group for delivery</th>
                </tr>
              </thead>
              <tbody>
                <% @item_requests.each do |item_request| %>
                  <% if Location.find(item_request.request.original_location_id).name == location_name && item_request.delivery_order == nil %>
                    <tr class="tablerow" id=<%= item_request.id %>>
                      <td value="<%= Location.find(item_request.request.original_location_id).name %>"><%= Location.find(item_request.request.original_location_id).name %></td>
                      <td><%= item_request.request.id %></td>
                      <td><%= item_request.id %></td>
                      <td><%= "#{item_request.item.class.to_s} #{item_request.item.id}" %></td>
                      <td><%= item_request.item.name %></td>
                      <% if item_request.item.is_a? Material %>
                        <td>$<%= item_request.item.unit_price %></td>
                      <% else %>
                        <td>N/A</td>
                      <% end %>
                      <td><%= item_request.qty %></td>
                      <td>
                      <%#if u want to select all, use checked in input %>
                        <input type="checkbox" name="selected_item_request_ids[]" value="<%= item_request.id %>">
                      </td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <%= f.submit "confirm delivery" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    </div>
</div>
