<tbody data-selectlocation-target="items">
  <% (materials + equipment).each_with_index do |item, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td>
        <% if item.is_a?(Material) %>
          <%= "Material" %>
        <% elsif item.is_a?(Equipment) %>
          <%= "Equipment" %>
        <% end %>
      </td>
      <td><%= item.name %></td>
      <td><%= item.category %></td>
      <td><%= item.qty %></td>
      <td><%= item.cost_code if item.is_a?(Material) %></td>
      <td><%= item.unit_price if item.is_a?(Material) %></td>
      <td><%= item.uom if item.is_a?(Material) %></td>
      <td><%= item.location.name %></td>
      <td><%= text_field_tag :qty, "", placeholder: "enter quantity", class:"form-control", id: "#{item.class}-#{item.id}" %></td>
      <%#=beware of form.field_text and text_field_tag
      <%#=The key difference is that text_field_tag is used to create standalone input fields outside of a form object,
      <%#=while form.text_field is used within a form object to generate input fields specific to that form.
      <%#=text_field_tag is a helper method in Ruby on Rails that generates an input field element directly.
      <%#=It is typically used when you want to create a standalone input field outside of a form object <%>
      </td>
    </tr>
  <% end %>
</tbody>
