<div class="container container-top-padding2">

  <div class="tab-pane fade show active" id="receive-tab-pane" role="tabpanel" aria-labelledby="receive-tab" tabindex="0">
    <% if @requests.none? { |request| request.location == current_user.location } && current_user.role != "manager" %>
      <h1>No request is made to <%= current_user.location.name %></h1>
    <% elsif current_user.role != "manager" %>
      <h1 class="line-bottom-margin3">Received requests to <%= current_user.location.name %></h1>
    <% elsif current_user.role == "manager" %>
      <h2 class="line-bottom-margin3">Requests made between locations</h2>
    <% end %>

    <% @requests.each do |request| %>

      <% if (current_user.role == "manager") && request.item_requests.all?{ |item_request| item_request.eng_appr_status.nil? || item_request.eng_appr_status == "declined" } %>

      <% elsif (current_user.location == request.location || current_user.role == "manager") && request.item_requests.any?{|item_request| item_request.del_approv_status == "Pending"}%>

        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Request from</th>
                <% if current_user.role == "manager"  %>
                <th>Request to</th>
                <% end %>
                <th>Image</th>
                <th>Name</th>
                <th>Available Qty</th>
                <th>Request Qty</th>
                <th>UOM</th>
                <th>Unit Price</th>

                <% if current_user.role == "manager" %>
                  <th>Approval Status</th>
                <% elsif current_user.role == "engineer" %>
                  <th>Approval Status</th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% request.item_requests.each do |item_request| %>
                <% if item_request.man_appr_status == "approved" || item_request.man_appr_status == "declined" || item_request.eng_appr_status == "declined" %>

                <% elsif current_user.role == "manager" && (item_request.eng_appr_status == nil) %>

                <% else %>
                  <tr class="td-align-middle">
                    <td><%= Location.find(request.original_location_id).name %></td>
                    <% if current_user.role == "manager"  %>
                      <td><%= request.location.name %></td>
                    <% end %>
                    <td><%= image_tag item_request.item.image_path  %></td>
                    <td><%= item_request.item.name %></td>
                    <% if item_request.item.alertlevel? && item_request.item.alertlevel > item_request.item.qty %>
                      <td style = "background: red; color: white;" ><%= item_request.item.qty %></td>
                    <% else  %>
                      <td><%= item_request.item.qty %></td>
                    <% end %>
                    <td><%= item_request.qty %></td>
                    <% if item_request.item.is_a? Material %>
                      <td><%= item_request.item.uom %></td>
                    <% else %>
                      <td>N/A</td>
                    <% end %>
                    <% if item_request.item.is_a? Material %>
                      <td>$<%= item_request.item.unit_price %></td>
                    <% else %>
                      <td>N/A</td>
                    <% end %>

                    <% if item_request.eng_appr_status == "approved" %>

                        <% if current_user.role == "manager" %>
                          <td>
                          <%= link_to "Approve", item_request_man_approve_path(item_request), method: :post, data: { turbo_method: :post }, class: "btn btn-primary btn-green" %>
                          <%= link_to "Decline", item_request_man_decline_path(item_request), method: :post, data: { turbo_method: :post, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-red" %>
                          </td>
                        <% elsif current_user.role = "engineer" %>
                          <td><button type="button" class="btn btn-green-clicked">Pending manager review</button></td>

                        <% end %>

                    <% else %>
                        <td>
                          <%= link_to "Approve", item_request_eng_approve_path(item_request), method: :post, data: { turbo_method: :post }, class: "btn btn-primary btn-green" %>
                          <%= link_to "Decline", item_request_eng_decline_path(item_request), method: :post, data: { turbo_method: :post, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-red" %>
                        </td>
                    <% end %>

                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>

      <% end %>
    <% end %>
  </div>

</div>
