<div class="container">
  <div class="d-flex">
    <h1>Make Request</h1>
    <div class="btn btn-primary m-2">Choose Location</div>
  </div>

  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Qty</th>
          <th scope="col">Cost_code</th>
          <th scope="col">Unit_price</th>
          <th scope="col">UOM</th>
          <th scope="col">Location_ID</th>
        </tr>
      </thead>
      <tbody>
        <% (@materials + @equipment).each_with_index do |item, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td>
              <% if item.is_a?(Material) %>
                <%= "Material" %>
              <% elsif item.is_a?(Equipment) %>
                <%= "Equipment" %>
              <% end %>
            </td>
            <td><%= item.name %></td>
            <td><%= item.category %></td>
            <td><%= item.qty %></td>
            <td><%= item.cost_code if item.is_a?(Material) %></td>
            <td><%= item.unit_price if item.is_a?(Material) %></td>
            <td><%= item.uom if item.is_a?(Material) %></td>
            <td><%= item.location.name %></td>
            <td>
              <%= simple_form_for [@item_request] do |f| %>
                <%= f.input :qty %>
                <% if item.is_a?(Material) %>
                  <%= f.hidden_field :item_type, value: "Material" %>
                  <%= f.hidden_field :item_id, value: item.id %>
                  <%= f.hidden_field :cost_code, value: item.cost_code %>
                  <%= f.hidden_field :unit_price, value: item.unit_price %>
                  <%= f.hidden_field :uom, value: item.uom %>
                <% elsif item.is_a?(Equipment) %>
                  <%= f.hidden_field :item_type, value: "Equipment" %>
                  <%= f.hidden_field :item_id, value: item.id %>
                <% end %>
                <%#= f.submit "Submit request", class: "btn btn-primary" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div>
      <%= simple_form_for @item_request do |f| %>
        <%= f.submit "create request", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
