<div class="container">
  <div class="d-flex">
    <h1>Make Request</h1>
    <div>
      <select class="form-select" aria-label="Default select example">
        <option selected>Choose Location</option>
        <% @locations.each do |location| %>
          <option value=<%= location.id %>><%= location.name %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Qty</th>
          <th scope="col">Cost_code</th>
          <th scope="col">Unit_price</th>
          <th scope="col">UOM</th>
          <th scope="col">Location_ID</th>
          <th scope="col">Request Quantity</th>
        </tr>
      </thead>
      <tbody>
        <% (@materials + @equipment).each_with_index do |item, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td>
              <% if item.is_a?(Material) %>
                <%= "Material" %>
              <% elsif item.is_a?(Equipment) %>
                <%= "Equipment" %>
              <% end %>
            </td>
            <td><%= item.name %></td>
            <td><%= item.category %></td>
            <td><%= item.qty %></td>
            <td><%= item.cost_code if item.is_a?(Material) %></td>
            <td><%= item.unit_price if item.is_a?(Material) %></td>
            <td><%= item.uom if item.is_a?(Material) %></td>
            <td><%= item.location.name %></td>
            <td>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
