<div class="container container-top-padding2">
  <h1>Requests Made</h1>
  <table class="table table-bordered table-striped table-hover ">
    <thead>
      <tr>
        <th>Image</th>
        <th>Request to</th>
        <th>Request from</th>

        <th>Name</th>
        <th>Qty</th>
        <th>UOM</th>
        <th>Unit Price</th>
      </tr>
    </thead>
    <tbody>
      <% @request.item_requests.each do |item_request| %>
        <tr>
          <td><%= image_tag item_request.item.image_path %></td>
          <td><%= @request.location.name %></td>
          <td><%= Location.find(@request.original_location_id).name %></td>

          <td><%= item_request.item.name %></td>
          <td><%= item_request.item.qty %></td>
            <% if item_request.item.is_a? Material %>
              <td><%= item_request.item.uom %></td>
            <% else %>
              <td>N/A</td>
            <% end %>
            <% if item_request.item.is_a? Material %>
              <td>$<%= number_with_delimiter(format("%.2f", item_request.item.unit_price.round(1))) %></td>
            <% else %>
              <td>N/A</td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
