<%# Welcome page after successful login %>
<meta name="viewport" content="width=device-width, initial-scale=1">

<div  class="banner" >
  <div class="title-container">
    <h1>Project Overview</h1>
    <% if current_user.role == "manager" %>
    <% else %>
      <h2>Location: <strong><%= current_user.location.name %></strong></h2>
    <% end %>
  </div>

<%# Quickview on #project locations, stock alert and requests pending approval %>
<%# 4 dashboard cards with links to action %>
<%# using grid to contain cards in 2 rows x 2 columns, occupying 1fr, 1fr %>
  <div class="container">
    <div class="wrapper-container">
      <div class="grid-container">
        <div class="card py-4">
          <h4>Pending Approvals <i class="fa-solid fa-list-check fa-bounce" style="color: #3898b9;"></i></h4>
          <% if current_user.role == "engineer" %>
            <h1><%= @item_request_count %></h1>
          <% else %>
            <h1> <%= @item_request_manager_count %></h1>
          <% end %>

          <%= link_to "List pending requests", requests_path, class: "btn btn-primary", id: "view-request-btn" %>
        </div>

        <div class="card py-4">
          <% if current_user.role == "engineer" %>
            <h4>Incoming Delivery  <i class="fa-solid fa-truck-fast fa-bounce" style="color: #3a98b9;"></i></h4>
          <% elsif current_user.role == "manager" %>
            <h4>Items in Delivery <i class="fa-solid fa-truck-fast fa-bounce" style="color: #3a98b9;"></i></h4>
          <% end %>

          <h1><%= @item_delivery_count %></h1>
          <% if current_user.role == "engineer" %>
            <%= link_to "List incoming delivery", delivery_orders_path, class: "btn btn-info", id: "transit-delivery-btn" %>
          <% elsif current_user.role == "manager" %>
            <%= link_to "List items in delivery", delivery_orders_path, class: "btn btn-info", id: "transit-delivery-btn" %>
          <% end %>
        </div>

        <div class="card py-4">
          <h4>Low Stock Alert  <i class="fa-solid fa-bell fa-bounce" style="color: #de1721;"></i>
          </h4>

          <% if current_user.role == "engineer" %>
            <h1><%= @low_stock_count %></h1>
          <% elsif current_user.role == "manager" %>
            <h1><%= @low_stock_count %></h1>
          <% end %></p>


          <%= link_to "List low stock items", show_low_stock_path(current_user.location), class: "btn btn-danger", id: "stock-alert-btn" %>
        </div>

        <%# <div class="card py-4">
          <h4>Project costs todate
          <i class="fa-solid fa-dollar-sign" style="color: #3898b9;"></i>
          </h4>
          <p>lorem ipsum 4</p><br>
          <%= link_to "Accumulated costs", "#", class: "btn btn-primary", id: "total-cost-btn" %>
        <%# </div> %>
      </div>
    </div>

    <div class="bottom-container">
      <%# display pie chart %>
      <div class="pie-chart">
        <% materials_by_location = Material.where(location: current_user.location).group(:name).sum(:qty) %>
        <%= pie_chart materials_by_location %>
      </div>

      <%# Map showing project locations. Occupy 46% of total layout on right of screen%>
      <div class="map-card">
        <p style="color: green"><%= notice %></p>
        <h3>Project Site Locations</h3>

        <div data-controller="map"
          id='map'
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-map-markers-value="<%= @markers.to_json %>"
          style='width: auto; height: 370px;'>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= image_tag Material.find(1).image_path, class: "modal-image"  %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


