<%# Welcome page after successful login %>
<div class="container">
  <h1>Welcome to your projects</h1>
  <h2>Location: <%= current_user.location.name %></h2>
</div>

<%# Quickview on #project locations, stock alert and requests pending approval %>
<div class="container">
  <div class="border-container">
    <div class="grid-header2">
      <h5># project locations: <%= Site.count - 1%></h5>
    </div>
    <div class="grid-header2">
      <h5>Low Stock Alert</h5>
    </div>
    <div class="grid-header2">
      <h5># Requests pending approval</h5>
    </div>
  </div>
</div>

<%# 4 dashboard cards with links to action %>
<%# using grid to contain cards in 2 rows x 2 columns, occupying 1fr, 1fr %>
<div class="container">
  <div class="wrapper-container">
    <div class="grid-container">
      <div class="card">
        <h4>Requests pending approval</h4>
        <i class="fa-solid fa-list-check" style="color: #3898b9;"></i>
        <p>Here</p>
        <%= link_to "Pending requests", requests_path, class: "btn btn-primary", id: "view-request-btn" %>
      </div>
      <div class="card">
        <h4>Delivery In Transit</h4>
        <i class="fa-solid fa-truck-fast" style="color: #3a98b9;"></i>
        <p>lorem ipsum 2</p><br>
        <%= link_to "Transit delivery", "#", class: "btn btn-info", id: "transit-delivery-btn" %>
      </div>
      <div class="card">
        <h4>Low Stock Alert</h4>
        <i class="fa-solid fa-bell" style="color: #3a98b9;"></i>
        <p>lorem ipsum 3</p><br>
        <%= link_to "Stock Alert", "#", class: "btn btn-danger", id: "stock-alert-btn" %>
      </div>
      <div class="card">
        <h4>Project costs todate</h4>
        <i class="fa-solid fa-dollar-sign" style="color: #3898b9;"></i>
        <p>lorem ipsum 4</p><br>
        <%= link_to "Accumulated costs", "#", class: "btn btn-primary", id: "total-cost-btn" %>
      </div>
    </div>

  <%# Map showing project locations. Occupy 50% of total layout on right of screen%>
    <div class="map-card">
      <p style="color: green"><%= notice %></p>
      <h3>Project Site Locations</h3>
      <div data-controller="map"
        id='map'
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
        data-map-markers-value="<%= @markers.to_json %>"
        style='width: 560px; height: 380px;'>
      </div>
    </div>
  </div>
</div>
