
<div class="container">
  <h1>Welcome to StockPro</h1>
  <h2>Location: <%= current_user.location.name %></h2>
</div>

<div class="container">
  <div class="border-container">
    <div class="grid-header2">
      <h4>Number of project locations: <%= Site.count %></h4>
    </div>
    <div class="grid-header1">
      <h4>Low Stock Alert</h4>
    </div>
    <div class="grid-header2">
      <h4># Requests pending approval</h4>
    </div>
  </div>
</div>

<div class="container">
<div class="wrapper-container">
  <div class="grid-container">
    <div class="card">
      <h2>Requests pending approval</h2>
      <p>lorem ipsum 1</p>
      <%= link_to "Pending requests", requests_path, class: "btn btn-primary", id: "view-request-btn" %>
    </div>
    <div class="card">
      <h2>Delivery In Transit</h2>
      <p>lorem ipsum 2</p><br>
      <%= link_to "Transit delivery", "#", class: "btn btn-info", id: "transit-delivery-btn" %>
    </div>
    <div class="card">
      <h2>Low Stock Alert</h2>
      <p>lorem ipsum 3</p><br>
      <%= link_to "Stock Alert", "#", class: "btn btn-danger", id: "stock-alert-btn" %>
    </div>
    <div class="card">
      <h2>Project costs todate</h2>
      <p>lorem ipsum 4</p><br>
      <%= link_to "Accumulated costs", "#", class: "btn btn-primary", id: "total-cost-btn" %>
    </div>
  </div>

  <div class="map-card">
    <p style="color: green"><%= notice %></p>
    <h3>Project Site Locations</h3>
    <div data-controller="map"
      id='map'
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
      data-map-markers-value="<%= @markers.to_json %>"
      style='width: 560px; height: 380px;'>
    </div>
  </div>
  </div>
</div>
</div>
