</div>
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class="login-wrapper">
    <div class="bg-illustration">
      <div class="burger-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="login">
      <div class="container">
        <h1>Welcome back, buddy!</h1>
        <p>Please login here</p>
        <div class="login-form">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          placeholder: "E-mail Address" %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" },
                          placeholder: "Password" %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
            <div class="form-actions">
              <%= f.button :submit, "LOG-IN" %> <br><br> <br><br>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <!-- Include your JavaScript and other footer content -->
</body>
</html>
