
<div class="container">
  <h1>Material Movement for <%= current_user.location.name %> </h1>
  <% filtered_material_movement = @material_movements.select do |x| %>
    <% x.location_id == current_user.location.id %>
  <% end %>
  <% if filtered_material_movement.any? %>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Name</th>
        <th>Category</th>
        <th>Qty</th>
        <th>UOM</th>
        <th>Unit Rate</th>
        <th>Location</th>
        </tr>
    </thead>
    <tbody>
      <% filtered_material_movement.each do |movement| %>
        <tr>
          <td><%= movement.update_date.in_time_zone("Asia/Singapore").strftime("%Y-%m-%d %H:%M:%S") %></td>
          <td><%= movement.remarks %></td>
          <td><%= Material.find(movement.material_id).name %></td>
          <td><%= Material.find(movement.material_id).category %></td>
          <td><%= movement.qty %></td>
          <td><%= Material.find(movement.material_id).uom %></td>
          <td><%= movement.unit_rate %></td>
          <td><%= Location.find(movement.location_id).name %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>
</div>
