<div class="container container-top-padding2">
  <% if @remarks == "Project Usage" %>
    <h1 class="line-bottom-margin3">Record Project Usage Materials Qty for <%= @location.name %></h1>
  <% elsif @remarks == "Import New Materials" %>
    <h1>Record Import Materials Qty for <%= @location.name  %></h1>
  <% end %>

  <%= form_tag(update_materials_path, class: "form") do %>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Existing Unit Rate</th>
           <th>Existing Qty</th>

          <% if @remarks == "Project Usage" %>
            <th>Project Usage Unit Rate</th>
          <% else %>
            <th>Imported Unit Rate</th>
          <% end %>

          <% if @remarks == "Project Usage" %>
            <th>Usage Qty</th>
          <% else %>
            <th>Imported Qty</th>
          <% end %>

          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <% @location.materials.each do |material| %>
          <tr>
            <td><%= image_tag material.image_path %></td>
            <td><%= material.name %></td>
            <td>$<%= number_with_delimiter(format("%.2f", material.unit_price.round(1))) %></td>
            <td><%= number_with_delimiter(material.qty) %></td>
            <td>$<%= number_with_delimiter(format("%.2f", material.unit_price.round(1))) %></td>
            <td><%= text_field_tag "material_movements[][qty]", 0, name: "material_movements[][qty]", class: "form-control" %></td>

            <td><%= text_field_tag "material_movements[][remarks]", @remarks, name: "material_movements[][remarks]", class: "form-control" %></td>

            <%= hidden_field_tag "material_movements[][unit_rate]", material.unit_price.round(1) %>
            <%= hidden_field_tag "material_movements[][location_id]", @location.id %>
            <%= hidden_field_tag "material_movements[][material_id]", material.id %>
            <%= hidden_field_tag "material_movements[][update_date]", Time.now %>

            <%= hidden_field_tag "material[][qty]", material.qty %>

          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Create Material Movements", class:"btn btn-primary btn-top-margin5 btn-standardize" %>
  <% end %>
</div>
