<div class="container container-top-padding2">
  <h1 class="line-bottom-margin3">Materials Movement History for <%= @location.name %></h1>

  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Applied Unit Rate</th>
        <th>Movement Qty</th>
        <th>UOM</th>
        <th>Amount</th>
        <th>Movement Type</th>
        <th>Update Date</th>
      </tr>
    </thead>
    <tbody>
      <% @location.material_movements.each do |movement| %>
        <% if movement.remarks != "Stockcount(even)" && movement.qty != 0 %>
          <tr class="td-align-middle">
            <% Time.zone = 'Singapore' %>
            <td><%= image_tag Material.find(movement.material_id).image_path %></td>
            <td><%= Material.find(movement.material_id).name %></td>
            <td>$<%= number_with_delimiter(format("%.2f", movement.unit_rate.round(1))) %></td>
            <% if movement.remarks == "Incoming Request Items" || movement.remarks == "Import New Materials" || movement.remarks == "Stockcount(excess)" %>
              <td><%= movement.qty %></td>
            <% elsif movement.remarks == "Outgoing Request Items" || movement.remarks == "Project Usage" || movement.remarks == "Stockcount(shortfall)" %>
              <td><%= movement.qty %></td>
            <% elsif movement.remarks == "Outgoing Request Items" || movement.remarks == "Project Usage" || movement.remarks == "Stockcount(even)" %>
              <td><%= movement.qty %></td>
            <% end %>
              <td><%= Material.find(movement.material_id).uom %></td>
              <td>$<%= number_with_delimiter(format("%.2f", movement.amount.round(1)))  %></td>
               <% if movement.remarks == "Project Usage" %>
                <td style = "color: grey;"><%= movement.remarks %></td>
              <% elsif movement.remarks == "Incoming Request Items" %>
                <td style = "color: purple;"><%= movement.remarks %></td>
              <% elsif movement.remarks == "Outgoing Request Items" %>
                <td style = "color: brown;"><%= movement.remarks %></td>
              <% elsif movement.remarks == "Stockcount(excess)" %>
                <td style = "color: blue;"><%= movement.remarks %></td>
              <% elsif movement.remarks == "Stockcount(shortfall)" %>
                <td style = "color: red;"><%= movement.remarks %></td>
              <% end %>
              <td><%= movement.update_date.strftime('%Y/%m/%d -- %H:%M') %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
