<div class="container container-top-padding2">

  <h1 class="line-bottom-margin3" > Record Monthly Stockcount for <%= @location.name  %></h1>

  <%# <br> %>

  <%= form_tag({controller: "update_materials", action: "stockcount_update"}, class: "form") do %>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Existing Unit Rate</th>
          <th>Existing Qty</th>
          <th>Stockcount qty</th>

        </tr>
      </thead>
      <tbody>
        <% @location.materials.each do |material| %>
          <tr>
            <td><%= image_tag material.image_path %></td>
            <td><%= material.name %></td>
            <td>$<%= number_with_delimiter(format("%.2f", material.unit_price.round(1))) %></td>
            <td><%= number_with_delimiter(material.qty) %></td>
            <td><%= text_field_tag "stockcounts[][qty]",material.qty , name: "stockcounts[][qty]", class: "form-control" %></td>

            <%= hidden_field_tag "stockcounts[][location_id]", @location.id %>
            <%= hidden_field_tag "stockcounts[][material_id]", material.id %>
            <%= hidden_field_tag "stockcounts[][update_date]", Time.now %>
            <%= hidden_field_tag "material[][qty]", material.qty %>
            <%= hidden_field_tag "stockcounts[][unit_rate]", material.unit_price %>

          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Submit stockcount", class: "btn btn-primary btn-top-margin5 btn-standardize" %>
  <% end %>
</div>
