<div class="container">

  <h1>Set Low Stock Alert Level for <%= @location.name %></h1>

  <br>

  <%= form_tag({controller: "update_materials", action: "stockalert"}, class: "form") do %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Material ID</th>
          <th>Name</th>
          <th>Existing Unit Rate</th>
          <th>Existing Qty</th>
          <th>Low Stock Level</th>
        </tr>
      </thead>
      <tbody>
        <% @location.materials.each do |material| %>
          <tr>
            <td><%= material.id %></td>
            <td><%= material.name %></td>
            <td>$<%= number_with_delimiter(format("%.2f", material.unit_price.round(1))) %></td>
            <td><%= number_with_delimiter(material.qty) %></td>
            <td><%= text_field_tag "materials[][alertlevel]", 0.0, name: "materials[][alertlevel]", class: "form-control" %></td>
            <%= hidden_field_tag "material_movements[][location_id]", @location.id %>
            <%= hidden_field_tag "material_movements[][material_id]", material.id %>
            <%= hidden_field_tag "material_movements[][update_date]", Time.now %>

            <%= hidden_field_tag "material[][qty]", material.qty %>

          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag "Create Material Movements", class: "btn btn-primary" %>
  <% end %>
</div>
