<div class="container">
  <br>
  <%= simple_form_for(@location) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :users, collection: @new_user, label: "Assign Engineer",
       label_method: :email, value_method: :id, multiple: true, prompt: "Select Engineer"%>
    <%= f.button :submit, "Create Location", class: "btn btn-primary" %>
  <% end %>
</div>
