<!-- show.html.erb -->
<div class="container">
  <p>Location Name: <%= @location.name %></p>
  <p>Location Address: <%= @location.address %></p>
  <p>Assigned Engineer/s: </p>
    <ul>
      <% @location.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>

  <h1>Existing Materials Qty</h1>
  <br>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Material ID</th>
        <th>Name</th>
        <th>Category</th>
        <th>Cost Code</th>
        <th>Existing Unit Rate</th>
        <th>Existing Qty</th>
        <th>UOM</th>
      </tr>
    </thead>
    <tbody>
      <% @location.materials.each do |material| %>
        <tr>
          <td><%= material.id %></td>
          <td><%= material.name %></td>
          <td><%= material.category %></td>
          <td><%= material.cost_code %></td>
          <td>$<%= number_with_delimiter(format("%.2f", material.unit_price.round(1))) %></td>

          <% if material.alertlevel? && material.alertlevel> material.qty %>
            <td style = "color: red;" ><%= material.qty %></td>
          <% else  %>
            <td><%= material.qty %></td>
          <% end %>
          <td><%= material.uom %></td>
        <% end %>
    </tbody>
  </table>

<br>

<%= link_to "Record Monthly Material Usage",  location_material_usage_path(@location, remarks: "Project Usage" ), method: :get, class: "btn btn-primary" %>

<%= link_to "Record New Imported Materials",  location_material_usage_path(@location, remarks: "Import New Materials" ), method: :get, class: "btn btn-primary" %>


<%= link_to "Monthly Stockcount",  location_stockcount_path(@location, remarks: "Stockcount"), method: :get, class: "btn btn-primary" %>

<%= link_to "Log Month End Material Qty", location_update_materials_path(@location), method: :post, data: { turbo_method: :post }, class: "btn btn-primary" %>

<%= link_to "Show Material Movement History", location_updatematerials_path(@location), class: "btn btn-primary" %>

<%= link_to "Set Low Stock Level", location_stockalert_path(@location), class: "btn btn-primary" %>
