<div class="container font-size2 container-top-padding2">
  <div class="card2">
    <p class="font-size6 background-gray"><strong><%= @location.name %></strong></p>
    <p class="line-bottom-margin1"><strong>Location Address: </strong><%= @location.address %></p>
    <p class="line-bottom-margin" ><strong>Assigned Engineer/s: </strong>
      <% @location.users.each do |user| %>
        <%= user.name %>
      <% end %>
     </p>
  </div>

  <h1 class="container-customize1">Existing Materials Qty</h1>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">Image</th>
        <th class="text-center">Name</th>
        <th class="text-center">Category</th>
        <th class="text-center">Cost Code</th>
        <th class="text-center">Existing Unit Rate</th>
        <th class="text-center">Existing Qty</th>
        <th class="text-center">UOM</th>
      </tr>
    </thead>
    <tbody>
      <% @location.materials.each do |material| %>
        <tr>
          <td data-bs-toggle="modal" data-bs-target="#exampleModal-<%= material.id %>" class="text-center" valign="middle"><%= image_tag material.image_path %></td>
          <td class="text-center" valign="middle"><%= material.name %></td>
          <td class="text-center" valign="middle"><%= material.category %></td>
          <td class="text-center" valign="middle"><%= material.cost_code %></td>
          <td class="text-center" valign="middle">$<%= number_with_delimiter(format("%.2f", material.unit_price.round(1))) %></td>

          <% if material.alertlevel? && material.alertlevel > material.qty %>
            <td style="background-color: red; color: white; font-weight: bold" class="text-center" valign="middle"><%= material.qty %></td>
          <% else  %>
            <td class="text-center" valign="middle"><%= material.qty %></td>
          <% end %>
          <td class="text-center" valign="middle"><%= material.uom %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <% if current_user.location == @location || current_user.role == "manager" %>
      <%= link_to "Record Monthly Materials Usage", location_material_usage_path(@location, remarks: "Project Usage"), method: :get, class: "btn btn-primary", id: "view-request-btn" %>
      <%= link_to "Monthly Stockcount", location_stockcount_path(@location, remarks: "Stockcount"), method: :get, class: "btn btn-primary", id: "view-request-btn" %>
      <%= link_to "Log Month End Material Qty", location_update_materials_path(@location), method: :post, data: { turbo_method: :post }, class: "btn btn-primary", id: "view-request-btn" %>
      <%= link_to "Show Material Movement History", location_updatematerials_path(@location), class: "btn btn-primary", id: "view-request-btn" %>
      <%= link_to "Set Low Stock Level", location_stockalert_path(@location), class: "btn btn-primary", id: "view-request-btn" %>
    <% end %>
  </div>
</div>
