<!-- show.html.erb -->
<br><div class="container">
  <p>Location Name: <%= @location.name %></p>
  <p>Location Address: <%= @location.address %></p>
  <p>Assigned Engineer/s: <% @location.users.each do |user| %><%= user.name %> </p>
     <% end %>
  <br><br><h1>Existing Materials Qty</h1>
  <br>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Category</th>
        <th>Cost Code</th>
        <th>Existing Unit Rate</th>
        <th>Existing Qty</th>
        <th>UOM</th>
      </tr>
    </thead>
    <tbody>
      <% @location.materials.each do |material| %>
        <tr>
          <td><%= image_tag material.image_path %></td>
          <td><%= material.name %></td>
          <td><%= material.category %></td>
          <td><%= material.cost_code %></td>
          <td>$<%= number_with_delimiter(format("%.2f", material.unit_price.round(1))) %></td>

          <% if material.alertlevel? && material.alertlevel> material.qty %>
            <td style = "color: red;" ><%= material.qty %></td>
          <% else  %>
            <td><%= material.qty %></td>
          <% end %>
          <td><%= material.uom %></td>
        <% end %>
    </tbody>
  </table>

<br>

<% if current_user.location == @location || current_user.role == "manager" %>

  <%= link_to "Record Monthly Materials Usage", location_material_usage_path(@location, remarks: "Project Usage"), method: :get, class: "btn btn-primary", id: "view-request-btn" %>

  <%= link_to "Monthly Stockcount", location_stockcount_path(@location, remarks: "Stockcount"), method: :get, class: "btn btn-primary", id: "view-request-btn" %>

  <%= link_to "Log Month End Material Qty", location_update_materials_path(@location), method: :post, data: { turbo_method: :post }, class: "btn btn-primary", id: "view-request-btn" %>

  <%= link_to "Show Material Movement History", location_updatematerials_path(@location), class: "btn btn-primary", id: "view-request-btn" %>

  <%= link_to "Set Low Stock Level", location_stockalert_path(@location), class: "btn btn-primary", id: "view-request-btn" %>
<% end %>
<br><br><br><br>
