
<div class="container container-top-padding2">
  <h1 class="line-bottom-margin3">Reconciliation Report</h1>
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Existing Unit Rate</th>
        <th>Theoretical Qty</th>
        <th>Stockcount Qty</th>
        <th>shortfall(-) / excess(+)</th>
        <th>Adj. Amt </th>
      </tr>
    </thead>
    <tbody>
      <% @location.materials.each do |material| %>
        <tr>
          <td><%= image_tag material.image_path %></td>
          <td><%= material.name %></td>
          <td><%= number_with_delimiter(format("%.2f", material.unit_price.round(1))) %></td>
          <td><%= material.qty %></td>
          <td><%= material.stockcounts.last.qty %></td>
          <td><%= material.stockcounts.last.diff %></td>
          <td><%= number_with_delimiter(format("%.2f", (material.stockcounts.last.diff * material.unit_price).round(1))) %></td>
      <% end %>
    </tbody>
  </table>

  <%= link_to "Submit Report & Update Qty", location_update_stock_path(@location), method: :post, data: { turbo_method: :post }, class: "btn btn-primary btn-top-margin5 btn-standardize" %>

  <%# need to jump to another page %>
</div>
