<!DOCTYPE html>
<html>
  <head>
    <title>Stockpro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <style>
      body {
        background-color: #EEEEEE;
      }
    </style>
  </head>

  <body>

    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/flashes" %>
    <%= yield %>
    <div data-controller="dissapear-footer" data-action="scroll@window->dissapear-footer#hide">
      <footer data-dissapear-footer-target="footer" style="background-color: #333; transition: opacity 0.5s ease; opacity: 1; color: white; text-align: center; position: fixed; bottom: 0; left: 0; width: 100%; padding: 1rem;">
      &copy; 2023 StockPro Inventory Management System
      </footer>
    </div>

  </body>
</html>
